
{% extends 'base.html.twig' %}
{% block title %}{{ titre }}{% endblock %}

{% block body %}
    <h1>{{ titre }} : {{ lecteur.prenom }} {{ lecteur.nom }}</h1>
    <ul>
        <br/><br/>
        <li>Prénom : {{ lecteur.prenom }}</li>
        <li>Nom : {{ lecteur.nom }}</li>
        <li>Date de naissance : {{ lecteur.datedenaissance|date('l d F Y') }}</li>
        <li>Date de première adhesion : {{ lecteur.datepremiereadhesion|date('l d F Y') }}</li>
        {% if lecteur.datefinadhesion is not null %}
            <li>Date de fin d'adhésion : {{ lecteur.datefinadhesion|date('l d F Y') }}</li>
            <br/><br/>
        {% endif %}
    </ul>
    <br/><br/>
    <h2>Liste des emprunts</h2>

    {% if lecteur.exemplaires|length == 0 %}
        ce lecteur n'a pas d'emprunts
    {% elseif lecteur.exemplaires|length == 1 %}
        emprunts : L'unique emprunt de ce lecteur est <a href="{{ path('livre_details', {id:lecteur.exemplaires[0].livre.id}) }}">{{ lecteur.exemplaires[0].livre.titre}}</a> (Retour prévu le {{ lecteur.exemplaires[0].dateretour|date('l d F Y') }})
    {% else %}
        <ul>
            {% for exemplaire in lecteur.exemplaires %}
                <li><a href="{{ path('livre_details', { id:exemplaire.livre.id}) }}">{{ exemplaire.livre.titre }}</a>
                    (Retour prévu le {{ exemplaire.dateretour|date('l d F Y') }})
                     - {{ exemplaire.retard() }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <br/><br/>

    <a href="{{ path('index') }}">Retour à l'accueil</a>
    <br/><br/>
    <a href="{{ path('lecteurs') }}">Retour à la liste des lecteurs</a>

{% endblock %}
