
{% extends 'base.html.twig' %}
{% block title %}{{ titre }}{% endblock %}

{% block body %}
    <h1>{{ titre }} : </h1>
    <a href="{{ path('index') }}">Accueil</a><br/>
    <ul id="liste">
        {%  for lecteur in lecteurs %} <!--https://twig.symfony.com/doc/3.x/templates.html-->
            <li><a href="{{ path('lecteurs_details', {id:lecteur.id}) }}">{{ lecteur.prenom }} {{ lecteur.nom }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
