{% extends 'base.html.twig' %}
{% block title %}{{ titre }}{% endblock %}

{% block body %}
    <h1>{{ titre }}</h1>
    <a href="{{ path('index') }}">Accueil</a>
    <br/><br/>
    <input value="identifiant"/>
    <br/><br/>
    <input value="mot de passe"/>
    <br/><br/>
    <button>se connecter</button>

{% endblock %}

