{% extends 'base.html.twig' %}
{% block title %}{{ titre }}{% endblock %}

{% block body %}
    <h1>{{ titre }}</h1>
    <a href="{{  path('connexion') }}">Se connecter</a>
    <ul>
        <li><a href="{{ path('livres') }}">liste des livres</a></li>
        <li><a href="{{ path('auteurs') }}">liste des auteurs</a></li>
        <li><a href="{{ path('genres') }}">liste des genres</a></li>
        <li><a href="{{ path('exemplaires') }}">liste des exemplaires</a></li>
        <li><a href="{{ path('lecteurs') }}">liste des lecteurs</a></li>
    </ul>
    <a href="{{  path('infopratiques') }}">informations pratiques</a><br/>
    <a href="{{ path('recherche') }}">rechercher un livre</a>
{% endblock %}




