{% extends 'base.html.twig' %}
{% block title %}{{ titre }}{% endblock %}

{% block body %}
    <h1>{{ titre }}</h1>
    <a href="{{ path('index') }}">Accueil</a><br/><br/>
    Ce site permet de consulter la liste des livres de notre bibliothèque et de savoir les disponibilités des différents exemplaires ainsi que leurs dates de retour.
    Ce site ne permet pas de réserver un exemplaire. Les emprunts se font sur site.
    <br/><br/>
    adresse : 129 Rue du Landreau, 44300 Nantes
    <br/>
    téléphone : 06 44 64 90 21
{% endblock %}


