{% extends 'base.html.twig' %}
{% block title %}{{ titre }}{% endblock %}

{% block body %}
    <h1>{{ titre }}</h1>
    <a href="{{ path('index') }}">Accueil</a><br/>
    <ul id="liste">
        {%  for auteur in auteurs %} <!--https://twig.symfony.com/doc/3.x/templates.html-->
            <li><a href="{{ path('auteur_details', {id:auteur.id}) }}">{{ auteur.prenom }} {{ auteur.nom }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}