{% extends 'base.html.twig' %}
{% block title %}{{ titre }}{% endblock %}

{% block body %}
    <h1>{{ auteur.prenom }} {{ auteur.nom }}</h1>
    <a href="{{ path('index') }}">Accueil</a>
    <br/><br/>
    date de naissance : {{ auteur.datedenaissance|date('d F Y') }}
    <br/><br/>
    {% if auteur.datededeces is not null %}
    date de decès : {{ auteur.datededeces|date('d F Y') }}
    <br/><br/>
    {% endif %}
    <a href="{{ path('auteur_details_livres', {id:auteur.id}) }}">voir les oeuvres de l'auteur</a>

{% endblock %}



