{% extends 'base.html.twig' %}
{% block title %}{{ titre }}{% endblock %}

{% block body %}
    <h1>{{ titre }}</h1>
    <a href="{{ path('index') }}">Accueil</a>
    <ul>
        {% for livre in livres %}
            <li><a href="{{ path('livre_details', {id:livre.id}) }}">{{ livre.titre }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}




