{% extends 'base.html.twig' %}
{% block title %}{{ titre }}{% endblock %}

{% block body %}
    <h1>{{ titre }} : {{ genre.libelle }}</h1>
    <a href="{{ path('index') }}">Accueil</a><br/><br/>


    {% if genre.livres|length == 0 %}
        ce genre n'est attribué à aucun livre
    {% elseif genre.livres|length == 1 %}
        L'unique livre de ce genre est
        <a href="{{ path('livre_details', {id:genre.livres[0].id}) }}">{{ genre.livres[0].titre }}</a>
    {% else %}
        livres :
        <ul>
            {% for livre in genre.livres %}
                <li><a href="{{ path('livre_details', {id:livre.id}) }}">{{ livre.titre }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
