{% extends 'base.html.twig' %}
{% block title %}{{ titre }}{% endblock %}

{% block body %}

        <h1>{{ titre }} : {{ livre.titre }}</h1>
        <a href="{{ path('index') }}">Accueil</a>
        <ul id="liste">
                {%  for genre in livre.genres %} <!--https://twig.symfony.com/doc/3.x/templates.html-->
                        <li><a href="{{ path('genres_details_livres', {id:genre.id}) }}">{{ genre.libelle }}</a></li>
                {% endfor %}
        </ul>
{% endblock %}

