{% extends 'base.html.twig' %}
{% block title %}{{ titre }}{% endblock %}

{% block body %}
    <h1>{{ livre.titre }}</h1>
    <a href="{{ path('index') }}">Accueil</a><br/><br/>
    Résumé : {{ livre.resume }}
    <br/><br/>
    ISBN : {{ livre.isbn }}
    <br/><br/>
    auteur : <a href="{{ path('auteur_details', {id:livre.auteur.id}) }}">{{ livre.auteur.prenom ~ " " ~ livre.auteur.nom }}</a>
    <br/><br/>
    {% if livre.genres|length == 0 %}
        ce livre n'a aucun genre
    {% elseif livre.genres|length == 1 %}
        genre : <a href="{{ path('genres_details_livres', {id:livre.genres[0].id}) }}">{{ livre.genres[0].libelle }}</a>
    {% else %}
        genres :
        <ul>
            {% for genre in livre.genres %}
                <li><a href="{{ path('genres_details_livres', {id:genre.id}) }}">{{ genre.libelle }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    <br/><br/>
    {% if livre.exemplaires|length == 0 %}
        ce livre n'a aucun exemplaire
    {% elseif livre.exemplaires|length == 1 %}
        exemplaire : L'unique exemplaire de ce livre est
        {% if livre.exemplaires[0].dateretour is null %}
            disponible
        {% else %}
            emprunté : retour le
            {{ livre.exemplaires[0].dateretour|date('l d F Y') }}
        {% endif %}
    {% else %}
        exemplaires :
        <ul>
            {% for exemplaire in livre.exemplaires %}
                <li>L'exemplaire {{ exemplaire.numero }} est
                    {% if exemplaire.dateretour is null %}
                        disponible
                    {% else %}
                        emprunté : retour le
                        {{ exemplaire.dateretour|date('l d F Y') }}
                    {% endif %}
                    </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
