{% extends 'base.html.twig' %}
{% block title %}{{ titre }}{% endblock %}

{% block body %}

    <h1>{{ titre }}</h1>
    <a href="{{ path('index') }}">Accueil</a>
    <ul id="liste">
        {%  for exemplaire in exemplaires %} <!--https://twig.symfony.com/doc/3.x/templates.html-->
            <li>Exemplaire {{ exemplaire.numero }} de
            <a href="{{ path('livre_details', { id:exemplaire.livre.id }) }}">{{ exemplaire.livre.titre }}</a>
            ( {% if exemplaire.dateretour is null %}
                disponible
            {% else %}
                retour le
                {# {{ exemplaire.dateretour|date('l, F dS Y') }}
                {{ toFrench(exemplaire.dateretour|date('F')) }}
                {{ toFrench(exemplaire.dateretour|date('l')) }} #}
                {{ exemplaire.dateretour|date('l d F Y') }}

            {% endif %}
            )
            </li>
        {% endfor %}
    </ul>
{% endblock %}
